<ng-container>
    <div class="grid">
        <!-- HEADER -->
        <div
            class="inventory-grid-donation z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
            matSort
            matSortDisableClear
        >
            <div class="hidden sm:block"></div>
            <div>Donación</div>
            <div>Cantidad</div>
            <div>Opciones</div>
        </div>   
        <!-- /HEADER -->

        <!-- MAIN -->
        <ng-container *ngIf="(donations$ | async) as donations">
            <ng-container *ngFor="let donation of donations; trackBy: trackByFn">
                <div class="inventory-grid-donation grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                
                    <!-- DONATION IMAGE -->
                    <div class="flex items-center">
                        <div class="relative flex flex-0 items-center justify-center w-12 h-12 mr-6 rounded overflow-hidden border">
                            <div class="flex items-center justify-center w-full h-full text-xs font-semibold leading-none text-center uppercase">
                                NO THUMB
                            </div>
                        </div>
                    </div>
                    <!-- /DONATION IMAGE -->

                    <!-- DESCRIPTION -->
                    <div class="truncate">
                        {{ donation?.description }}
                    </div>
                    <!-- /DESCRIPTION -->

                    <!-- QUANTITY -->
                    <div class="truncate">
                        {{ donation?.quantity }}
                    </div>
                    <!-- /QUANTITY -->
                
                    <!-- OPTIONS -->
                    <div>
                        <button
                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                            mat-stroked-button
                            (click)="openDialog(donation)">
                            <mat-icon svgIcon="heroicons_outline:pencil-alt"></mat-icon>
                        </button>
    
                        <button
                            class="min-w-10 min-h-7 h-7 px-2 leading-6 ml-2"
                            mat-stroked-button
                            (click)="deleteDonation(donation?.id)">
                            <mat-icon svgIcon="heroicons_outline:user-remove"></mat-icon>
                        </button>
    
                    </div>
                    <!-- /OPTIONS -->

                </div>
            </ng-container>
        </ng-container>
        <!-- /MAIN -->
    </div>

    <mat-paginator
        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
        [ngClass]="{'pointer-events-none': loading}"
        [length]="count"
        [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
</ng-container>