<ng-container>
    <div class="grid">

        <!-- HEADER -->
        <div
            class="inventory-grid-resident z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
            matSort
            matSortDisableClear
        >
            <div>Dirección</div>
            <div>Dueño</div>
            <div class="hidden sm:block">Número telefónico</div>
            <div>Actualizar</div>
        </div>
        <!-- /HEADER -->

        <!-- MAIN -->
        <ng-container *ngIf="(residents$ | async) as residents">
            <ng-container *ngFor="let resident of residents; trackBy: trackByFn">
                <div class="inventory-grid-resident grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                    <div class="truncate">
                        {{ resident?.homeAddress }}
                    </div>

                    <div class="truncate">
                        {{ resident?.ownerName }}
                    </div>

                    <div class="truncate hidden sm:block">
                        {{ resident?.phoneNumber }}
                    </div>

                    <!-- OPTIONS -->
                    <div>
                        <button
                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                            mat-stroked-button
                            (click)="openDialog(resident)">
                            <mat-icon svgIcon="heroicons_outline:pencil-alt"></mat-icon>
                        </button>
    
                    </div>
                    <!-- OPTIONS -->
                </div>
            </ng-container>
        </ng-container>
        <!-- /MAIN -->
    </div>

    <mat-paginator
        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
        [ngClass]="{'pointer-events-none': loading}"
        [length]="count"
        [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
</ng-container>