# BACKEND
Cocode.Console.Backend/node_modules
Cocode.Console.Backend/.env
Cocode.Console.Backend/dist

# Compiled output
Cocode.Console.Frontend/dist
Cocode.Console.Frontend/tmp
Cocode.Console.Frontend/out-tsc
Cocode.Console.Frontend/bazel-out

# Node
Cocode.Console.Frontend/node_modules
Cocode.Console.Frontend/npm-debug.log
Cocode.Console.Frontend/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
Cocode.Console.Frontend/.vscode/*
Cocode.Console.Frontend/!.vscode/settings.json
Cocode.Console.Frontend/!.vscode/tasks.json
Cocode.Console.Frontend/!.vscode/launch.json
Cocode.Console.Frontend/!.vscode/extensions.json
Cocode.Console.Frontend/.history/*

# Miscellaneous
Cocode.Console.Frontend/.angular/cache
.sass-cache/
Cocode.Console.Frontend/connect.lock
Cocode.Console.Frontend/coverage
Cocode.Console.Frontend/libpeerconnection.log
testem.log
Cocode.Console.Frontend/typings

# System files
Cocode.Console.Frontend/.DS_Store
Cocode.Console.Frontend/Thumbs.db
