.inventory-grid-report {
    grid-template-columns: 3.5fr 1.5fr 1fr;

    @screen sm {
        grid-template-columns: 0.5fr 2.5fr 2fr 1fr;
    }

    @screen md {
        grid-template-columns: 0.5fr 2.5fr 2fr 1fr;
    }

    @screen lg {
        grid-template-columns: 0.5fr 2.5fr 2fr 1fr;
    }
}

.donation-photo-list {
    height: 100%;
    width: 100%;
}
