.inventory-grid-visitor {
    grid-template-columns: 3.5fr 1.5fr 1fr;

    @screen sm {
        grid-template-columns: 2fr 2.5fr 2fr 1fr;
    }

    @screen md {
        grid-template-columns: 2fr 2.5fr 2fr 1fr;
    }

    @screen lg {
        grid-template-columns: 2fr 2.5fr 2fr 1fr;
    }
}