<ng-container *ngIf="isNew">
    <h2 mat-dialog-title>Realizar pago</h2>

    <form name="form" [formGroup]="form" (ngSubmit)="registerPayment()">
        <mat-form-field>
            <mat-select
                placeholder="Residencia"
                formControlName="ownerDPI"
                (selectionChange)="onOptionSelection($event)"
            >
                <mat-option
                    *ngFor="let resident of residents$ | async"
                    [value]="resident.ownerDPI"
                    >{{ resident.homeAddress }}</mat-option
                >
            </mat-select>
            <mat-error
                *ngIf="
                    form.get('ownerDPI').invalid && form.get('ownerDPI').touched
                "
            >
                Este campo es requerido.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                placeholder="Detalles del pago"
                formControlName="description"
            />
            <mat-error
                *ngIf="
                    form.get('description').invalid &&
                    form.get('description').touched
                "
            >
                Este campo es requerido.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                placeholder="Monto"
                formControlName="amount"
                (keypress)="onlyPositiveNumbers($event)"
            />
            <mat-error
                *ngIf="form.get('amount').invalid && form.get('amount').touched"
            >
                Este campo es requerido.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Mes" formControlName="month">
                <mat-option
                    *ngFor="let month of months"
                    [value]="month.value"
                    >{{ month.description }}</mat-option
                >
            </mat-select>
            <mat-error
                *ngIf="form.get('month').invalid && form.get('month').touched"
            >
                Este campo es requerido.
            </mat-error>
        </mat-form-field>

        <div class="aspect-w-9 aspect-h-6 mt-4">
            <div
                class="flex items-center justify-center border rounded-lg bg-gray-50 dark:bg-card"
            >
                <img
                    *ngIf="base64Image"
                    [src]="base64Image"
                    class="donation-image"
                />
                <div *ngIf="!base64Image" class="relative">
                    <mat-icon
                        class="icon-size-14 text-hint"
                        [svgIcon]="'iconsmind:file'"
                    ></mat-icon>
                    <div class="bg-amber-600 doc-file">JPG</div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <input
                type="file"
                name="image"
                (change)="onFileSelected($event)"
                accept=".jpeg,.jpg,.png"
            />
            <mat-error *ngIf="invalidExtention"
                >La imágen debe ser en extensión .jpg, .png o .jpeg</mat-error
            >
            <mat-error *ngIf="invalidSize"
                >La imágen debe pesar menos o igual a 7mb</mat-error
            >
        </div>

        <div mat-dialog-actions>
            <button mat-button type="button" (click)="onClose()">
                Cancelar
            </button>
            <button
                mat-flat-button
                [color]="'primary'"
                type="submit"
                [disabled]="
                    form.invalid ||
                    (form.pristine && noImageChanged) ||
                    invalidExtention ||
                    invalidSize
                "
            >
                Crear
            </button>
        </div>
    </form>
</ng-container>

<ng-container *ngIf="!isNew">
    <h2 mat-dialog-title>Ver detalles del pago</h2>

    <form name="form" [formGroup]="form">
        <mat-form-field>
            <mat-select placeholder="Residencia" formControlName="ownerDPI">
                <mat-option
                    *ngFor="let resident of residents$ | async"
                    [value]="resident.ownerDPI"
                    >{{ resident.homeAddress }}</mat-option
                >
            </mat-select>
            <mat-error
                *ngIf="
                    form.get('ownerDPI').invalid && form.get('ownerDPI').touched
                "
            >
                Este campo es requerido.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                placeholder="Detalles del pago"
                formControlName="description"
            />
            <mat-error
                *ngIf="
                    form.get('description').invalid &&
                    form.get('description').touched
                "
            >
                Este campo es requerido.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                placeholder="Monto"
                formControlName="amount"
                (keypress)="onlyPositiveNumbers($event)"
            />
            <mat-error
                *ngIf="form.get('amount').invalid && form.get('amount').touched"
            >
                Este campo es requerido.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Mes" formControlName="month">
                <mat-option
                    *ngFor="let month of months"
                    [value]="month.value"
                    >{{ month.description }}</mat-option
                >
            </mat-select>
            <mat-error
                *ngIf="form.get('month').invalid && form.get('month').touched"
            >
                Este campo es requerido.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                placeholder="Fecha de pago efectuado"
                formControlName="payedAt"
            />
            <mat-error
                *ngIf="
                    form.get('payedAt').invalid &&
                    form.get('payedAt').touched
                "
            >
                Este campo es requerido.
            </mat-error>
        </mat-form-field>

        <div class="aspect-w-9 aspect-h-6 mt-4">
            <div
                class="flex items-center justify-center border rounded-lg bg-gray-50 dark:bg-card"
            >
                <img
                    *ngIf="base64Image"
                    [src]="base64Image"
                    class="donation-image"
                />
                <div *ngIf="!base64Image" class="relative">
                    <mat-icon
                        class="icon-size-14 text-hint"
                        [svgIcon]="'iconsmind:file'"
                    ></mat-icon>
                    <div class="bg-amber-600 doc-file">JPG</div>
                </div>
            </div>
        </div>

        <div mat-dialog-actions>
            <button mat-flat-button [color]="'primary'" (click)="onClose()">Cerrar</button>
        </div>
    </form>
</ng-container>
