.mat-form-field {
    display: grid !important;
    width: 100%;
    margin-bottom: 10px;
  }

.donation-image {
    height: 100%;
    object-fit: cover;
}

.doc-file {
    color: white;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}