.inventory-grid-spreadsheet {
    grid-template-columns: 1fr 1fr 0.5fr 1fr;

    @screen sm {
        grid-template-columns: 1.3fr 1.5fr 0.7fr 1fr 1fr;
    }

    @screen md {
        grid-template-columns: 1.3fr 1.5fr 0.7fr 1fr 1fr;
    }

    @screen lg {
        grid-template-columns: 1.3fr 1.5fr 0.7fr 1fr 1fr;
    }
}