<ng-container>
    <div class="grid">

        <!-- HEADER -->
        <div
            class="inventory-grid-spreadsheet z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
            matSort
            matSortDisableClear
        >
            <div>DPI</div>
            <div>Número de recibo</div>
            <div>Mes</div>
            <div class="hidden sm:block">Fecha de pago</div>
            <div>Opciones</div>
        </div>
        <!-- /HEADER -->

        <!-- MAIN -->
        <ng-container *ngIf="(spreadsheets$ | async) as spreadsheets">
            <ng-container *ngFor="let spreadsheet of spreadsheets; trackBy: trackByFn">
                <div class="inventory-grid-spreadsheet grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                
                    <div class="truncate">
                        {{ spreadsheet?.DPI }}
                    </div>

                    <div class="truncate">
                        {{ spreadsheet?.Name }}
                    </div>
                    
                    <div class="truncate">
                        {{ getMonth(spreadsheet?.PaymentMonth) }}
                    </div>

                    <div class="truncate hidden sm:block">
                        {{ formatDate(spreadsheet?.CreatedAt) }}
                    </div>

                    <!-- OPTIONS -->
                    <div>
                        <button
                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                            mat-stroked-button
                            >
                            <mat-icon svgIcon="heroicons_outline:pencil-alt"></mat-icon>
                        </button>
    
                        <button
                            class="min-w-10 min-h-7 h-7 px-2 leading-6 ml-2"
                            mat-stroked-button
                            >
                            <mat-icon svgIcon="heroicons_outline:user-remove"></mat-icon>
                        </button>
    
                    </div>
                    <!-- OPTIONS -->

                </div>
            </ng-container>
        </ng-container>
        <!-- /MAIN -->
    </div>

    <mat-paginator
        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
        [ngClass]="{'pointer-events-none': loading}"
        [length]="count"
        [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
</ng-container>