<ng-container>
    <div class="grid">

        <!-- HEADER -->
        <div
            class="inventory-grid-solvent z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
            matSort
            matSortDisableClear
        >
            <div>Dirección</div>
            <div class="hidden:sm">Dueño</div>
            <div class="text-center">Estado</div>
            <div class="text-center">Opciones</div>
        </div>
        <!-- /HEADER -->

        <!-- MAIN -->
        <ng-container *ngIf="(residents$ | async) as residents;">
            <ng-container *ngFor="let resident of residents; trackBy: trackByFn; let i = index;">
                <div class="inventory-grid-solvent grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                    <div class="truncate">
                        {{ resident?.homeAddress }}
                    </div>

                    <div class="truncate">
                        {{ resident?.ownerName }}
                    </div>

                    <div class="truncate hidden sm:block text-center">
                        <mat-icon *ngIf="resident?.solvent" matTooltip="Solvente" class="solvent" svgIcon="mat_outline:check_circle"></mat-icon>
                        <mat-icon *ngIf="!resident?.solvent" matTooltip="Pendiente" class="pending" svgIcon="mat_outline:error_outline"></mat-icon>
                    </div>

                    <!-- OPTIONS -->
                    <div class="text-center">
                        <button
                            matTooltip="Enviar notificación"
                            class="min-w-10 min-h-7 h-7 px-2 leading-6 ml-2"
                            mat-stroked-button
                            (click)="sendNotificationToResident(resident?.ownerName)">
                            <mat-icon svgIcon="mat_outline:mark_email_unread"></mat-icon>
                        </button>
    
                        <button
                            matTooltip="Marcar como solvente"
                            class="min-w-10 min-h-7 h-7 px-2 leading-6 ml-2"
                            mat-stroked-button
                            [disabled]="resident?.solvent"
                            (click)="setSolvent(resident?.id, i)">
                            <mat-icon svgIcon="mat_outline:library_add_check"></mat-icon>
                        </button>
                    </div>
                    <!-- OPTIONS -->
                </div>
            </ng-container>
        </ng-container>
        <!-- /MAIN -->
    </div>

    <mat-paginator
        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
        [ngClass]="{'pointer-events-none': loading}"
        [length]="count"
        [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
</ng-container>