<ng-container>
    <h2 mat-dialog-title>Opciones de la residencia</h2>

    <div mat-dialog-content class="button-container">
        <button mat-flat-button [color]="'primary'" (click)="sendNotificationToResident()">Enviar notificación al residente</button>
        <button mat-stroked-button [color]="'primary'" class="mt-4" (click)="setSolvent()">Marcar como solvente</button>
    </div>

    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onClose()">Cerrar</button>
    </div>
</ng-container>